.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* NAVIGATION BAR */
.navbar.nav-main {
    color: white;
    font-size: 1.1rem;
    background-color: white !important;
    border-bottom: 1px dotted brown;
}

.navbar.nav-main .navbar-brand {
    font-family: 'Aldrich', sans-serif;
}

.navbar.nav-main .nav-item {
    padding: 1rem 1rem;
}

.navbar.nav-main span {
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
}

/* MODAL */
#modal {
    background-image: url("../img/modal.jpg");
    background-size: cover;
}

#modal .content {
    padding: 1.2rem;
    color: white;
    margin: auto;
}

#modal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


#modal p {
    width: 40%;
    margin: 1.5rem 0rem;
    padding: 1rem 0rem;
    font-size: 1.2rem;
    text-align: justify;
}

@media (max-width: 768px) {

    #modal .content {
        text-align: center;
    }

    #modal p {
        margin: auto;
        width: 100%;
    }

    #modal a {
        margin-top: 1rem;
        width: 100%;
    }
}

/* SERVICES */
#services h2 {
    margin-top: 2rem;
    font-weight: bold;
}

#services p {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    padding: 1rem 0rem;
    font-size: 1.2rem;
    text-align: justify;
}

#services .content {
    padding: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

#services .content div {
    width: 30%;
    display: inline-grid;
    padding: 2.5rem 2rem;
    border: 1px solid #C8D0DA;
}

#services .content .middle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0rem 2rem;
}

#services i {
    width: 5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    background-color: #387EF9;
    font-size: 2rem;
}

#services h4 {
    margin: 1rem 0rem;
}

#services .content a {
    display: table;
    margin: auto;
}

#services .content div p {
    width: 100%;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0rem 0rem;
    color: #909599;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
    #services .content .middle {
        margin: 1rem 0rem;
    }

    #services i {
        margin: auto;
    }

    #services .content div {
        width: 100%;
        text-align: center;
    }
}

/* PACKAGES */
#packages {
    margin-top: 2rem;
    background-color: #F6F9FF;
    /* height: 40rem; */
}

#packages h2 {
    margin-top: 3rem;
    text-align: center;
}

#packages #package-titles {
    margin: 2rem auto;
    width: 40vw;
}

#packages #package-titles .package-title {
    margin: 1rem;
    padding: 1rem 2rem;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: #102E49;
    border-radius: 0.5rem;
    cursor: pointer;
}

#package-titles .package-title:hover {
    box-shadow: 0rem 0rem 0.5rem blueviolet;
}

#packages #package-titles .disabled {
    background-color: #C9CFDA;
}

#package-list {
    margin: 3rem auto;
    width: 70vw;
}

#package-list .package {
    width: 27%;
    margin: 0rem 1.5rem;
    padding: 2rem;
    display: inline-block;
    background-color: white;
    /* border: 2px dotted dodgerblue; */
    border-radius: 1.5rem;
    text-align: center;
}

#package-list .middle {
    color: white;
    background-color: #102E49;
}

#package-list p {
    margin-top: 1rem;
    font-size: 1.1rem;
}

#package-list ul {
    margin: 2rem 0rem;
    text-align: left;
}

@media (max-width: 1200px) {
    #package-list .package {
        width: 100%;
    }

    #package-list .package {
        margin: 0.7rem auto;
    }
}